body {
  background-color: whitesmoke;
}
#title {
  text-align: center;
  font-size: 150px;
}
.container {
  position: relative;
  text-align: center;
  color: black;
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#bears {
  text-align: center;
}
#giraffes {
  text-align: center;
}
#lions {
  text-align: center;
}
#monkeys {
  text-align: center;
}
#alligators {
  text-align: center;
}
h2 {
  text-align: center;
}
.li {
  text-align: center;
}
ul.myUL {
  display: inline-block;
  text-align: center;
}
p {
  text-align: center;
}
