/* body color */
body {
  background-color: rgb(255, 247, 236);
}
/* Header size/alignment */
#title {
  text-align: center;
  font-size: 125px;
}
/* class to center banner and header */
.container {
  position: relative;
  text-align: center;
  color: black;
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* center animal links */
#bears {
  text-align: center;
}
#giraffes {
  text-align: center;
}
#lions {
  text-align: center;
}
#monkeys {
  text-align: center;
}
#alligators {
  text-align: center;
}
h2 {
  text-align: center;
}
/* list alignment */
.li {
  text-align: center;
  font-weight: bold;
  font-size: large;
}
ul.myUL {
  display: inline-block;
  text-align: center;
}
/* paragraph alignment */
p {
  text-align: center;
  font-weight: bold;
}
/* animal image center class */
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 10%;
}
/* footer id */
#footer {
  text-align: center;
  font-weight: bold;
}
